@import "tailwindcss";

@plugin "daisyui" {
  /* all; */
  themes:
    rose-pine-dawn --default,
    rose-pine --prefersdark;
}

@plugin "daisyui/theme" {
  name: "rose-pine-dawn";
  default: true;
  color-scheme: light;

  --color-base-100: #fffaf3;
  --color-base-200: #faf4ed;
  --color-base-300: #f2e9e1;
  --color-base-content: #575279;
  --color-primary: #907aa9;
  --color-primary-content: #fffaf3;
  --color-secondary: #d7827e;
  --color-secondary-content: #fffaf3;
  --color-accent: #907aa9;
  --color-accent-content: #fffaf3;
  --color-neutral: #faf4ed;
  --color-neutral-content: #575279;
  --color-info: #286983;
  --color-info-content: #fffaf3;
  --color-success: #56949f;
  --color-success-content: #fffaf3;
  --color-warning: #ea9d34;
  --color-warning-content: #575279;
  --color-error: #b4637a;
  --color-error-content: #fffaf3;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "rose-pine";
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #1f1d2e;
  --color-base-200: #191724;
  --color-base-300: #26233a;
  --color-base-content: #e0def4;
  --color-primary: #c4a7e7;
  --color-primary-content: #191724;
  --color-secondary: #ebbcba;
  --color-secondary-content: #191724;
  --color-accent: #f6c177;
  --color-accent-content: #191724;
  --color-neutral: #191724;
  --color-neutral-content: #e0def4;
  --color-info: #31748f;
  --color-info-content: #e0def4;
  --color-success: #9ccfd8;
  --color-success-content: #191724;
  --color-warning: #f6c177;
  --color-warning-content: #191724;
  --color-error: #eb6f92;
  --color-error-content: #191724;
  --radius-selector: 2rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@layer components {
  .card:hover {
    translate: -1px -1px;
  }

  .btn:hover {
    translate: 0px -1px;
  }

}
